.layout {
    --sidebar-width: 300px;
    margin-left: 300px;
}

.content {
    padding: 48px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100vh;
    border-radius: 0 16px 16px 0;
    background-color: white;
    padding: 8px;
}
